---
import Button from "./button";


---

<section 
    class="w-full min-h-[50vh] lg:min-h-[100vh] flex justify-center items-center bg-cover bg-no-repeat bg-center" 
    style={{ backgroundImage: 'linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://res.cloudinary.com/du52ca1q1/image/upload/f_auto,q_auto/v1748207711/Home_Page_-_Keep_your_environment_clean_make_the_earth_green_oaymr2.jpg)'}}>
    <div class="w-[90%] my-10 md:mb-10 lg:my-0 md:w-[70%] md:px-10 lg:px-10 lg:w-2/5 border border-gray-500 rounded-xl p-5 flex-col justify-center items-center text-center">
        <h4 class="text-white text-center text-[32px] leading-[32px] md:text-[40px] md:leading-[40px] lg:text-[60px] lg:leading-[60px] font-bold" data-aos='fade-up' data-aos-offset='100'>Trusted by Industry Leaders 
</h4>
        <p class="text-white text-center mt-5 md:mt-10" data-aos='fade-up' data-aos-offset='100'>
            “This is Nigeria to the world! The level of efficiency, automation, and quality control that LPVT has put in place in producing these solar panels ensured that we have products that can compete globally, and I am saying this on record that the panels being produced by this local company, LPVT, here in Lagos can compete internationally.” — Abba Aliyu, Managing Director, Rural Electrification Agency (REA) 
        </p>
        <!-- <div class="my-7" data-aos='fade-up' data-aos-offset='100'>
            <Button path="#" text="Discover more" className="py-3 px-8 text-white text-[16px] bg-green rounded-full baseline hover:bg-darkBlue" />
        </div> -->
    </div>
</section>
